In [1]:
import pandas as pd

In [6]:
df = pd.read_excel(
    "/Users/glebsokolov/Downloads/Задание отдел аналитики данных.xlsx", sheet_name=0
)
df = df.drop(labels=["Unnamed: 5", "Unnamed: 6", "Unnamed: 7"], axis=1)

In [13]:
df["Год"] = df["Дата продажи"].apply(lambda x: x.year)

In [14]:
df.head()

  Номер заказа Дата продажи     SKU  Цена  Упаковки   Год
0    Unit-0355   2019-01-09  VM8726  2345       1.0  2019
1    Unit-0356   2021-03-14  VM3801  1369       2.0  2021
2    Unit-0357   2019-09-29  VM2632  1496       2.0  2019
3    Unit-0358   2018-03-12  VM2632  1496      10.0  2018
4    Unit-0359   2019-11-28   VKL28   867      15.0  2019

1. Дубликат в первой колонке

In [34]:
d = df.duplicated(subset="Номер заказа")
df[d]

    Номер заказа Дата продажи      SKU  Цена  Упаковки   Год
103    Unit-0461   2019-10-01  VKL0327   905       5.0  2019

In [ ]:
u = df.query("Год==2019")["SKU"].unique()
df.at[87, "SKU"] = u[-2]
df.at[36, "SKU"] = u[1]

2. Сумма упаковок по году и SKU

In [86]:
df.pivot_table(values="Упаковки", index="SKU", columns="Год", aggfunc="sum")

Год       2018   2019   2020   2021
SKU
VKL0327   71.0  162.0   71.0  157.0
VKL28    154.0  217.0  202.3   81.0
VM2632    78.0  918.2  762.0  350.0
VM3801    19.0   13.0   41.0   18.0
VM8726    36.0   43.0   79.0   39.0
VM9355    23.0   51.0   49.0   17.0

3. Среднее количество упаковок по году и SKU

In [85]:
df.pivot_table(values="Упаковки", index="SKU", columns="Год", aggfunc="mean")

Год           2018       2019       2020       2021
SKU
VKL0327  35.500000  27.000000  35.500000  31.400000
VKL28    38.500000  24.111111  25.287500  27.000000
VM2632   19.500000  83.472727  33.130435  31.818182
VM3801    2.375000   1.444444   3.153846   3.000000
VM8726    2.769231   1.869565   1.680851   1.772727
VM9355    2.555556   2.318182   2.130435   2.428571