In [41]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"
import numpy as np
import scipy.stats as stats
from scipy.optimize import curve_fit

In [2]:
covid = pd.read_csv("/Users/glebsokolov/Downloads/data/covid_data.csv")
cardio_base = pd.read_csv("/Users/glebsokolov/Downloads/data/cardio_base.csv")
cardio_alco = pd.read_csv("/Users/glebsokolov/Downloads/data/cardio_alco.csv", sep=";")
covid.head()
cardio_base.head()
cardio_alco.head()

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
0,Afghanistan,2019-12-31,0,0,38928341.0,2.581,1803.987,0.5
1,Afghanistan,2020-01-01,0,0,38928341.0,2.581,1803.987,0.5
2,Afghanistan,2020-01-02,0,0,38928341.0,2.581,1803.987,0.5
3,Afghanistan,2020-01-03,0,0,38928341.0,2.581,1803.987,0.5
4,Afghanistan,2020-01-04,0,0,38928341.0,2.581,1803.987,0.5

   id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  smoke
0   0  18393       2     168    62.0    110     80            1      0
1   1  20228       1     156    85.0    140     90            3      0
2   2  18857       1     165    64.0    130     70            3      0
3   3  17623       2     169    82.0    150    100            1      0
4   4  17474       1     156    56.0    100     60            1      0

   id  alco
0  44     0
1  45     0
2  46     0
3  47     0
4  49     0

In [3]:
cardio_base[">50"] = cardio_base["age"].apply(lambda x: True if x / 365 > 50 else False)

In [12]:
cardio_base.groupby(">50").mean()["cholesterol"]

>50
False    1.243186
True     1.421436
Name: cholesterol, dtype: float64

In [14]:
cardio_base.groupby("gender").mean()["height"]

gender
1    161.355612
2    169.947895
Name: height, dtype: float64

In [16]:
cardio_base.groupby("gender").sum()["smoke"]

gender
1     813
2    5356
Name: smoke, dtype: int64

In [19]:
cardio_base["height"].quantile(0.99)

184.0

In [23]:
correl = cardio_base.corr()

In [28]:
correl = correl.replace(1, 0)

In [35]:
correl = correl.drop(">50", axis=1).drop(">50", axis=0)

In [36]:
correl.style.highlight_max(color="lightgreen", axis=0)

In [39]:
heightleft = cardio_base["height"].mean() - 2 * cardio_base["height"].std()
heightright = cardio_base["height"].mean() + 2 * cardio_base["height"].std()

In [40]:
cardio_base["higher"] = cardio_base["height"].apply(
    lambda x: True if heightleft <= x <= heightright else False
)

In [42]:
cardio_base["higher"].value_counts(normalize=True)

True     0.966643
False    0.033357
Name: higher, dtype: float64

In [4]:
cardio_merged = cardio_base.merge(cardio_alco, "left", "id").dropna()

In [5]:
cardio_merged.groupby(">50").sum()["alco"]

>50
False    1084.0
True     1957.0
Name: alco, dtype: float64

In [54]:
cardio_merged.groupby(">50").count()["alco"]

>50
False    17406
True     39497
Name: alco, dtype: int64

In [57]:
(1957 / 39497) * 100

4.954806694179305

In [9]:
no_smoke, smoke = cardio_merged.query("smoke==0"), cardio_merged.query("smoke==1")

In [10]:
import numpy as np, statsmodels.stats.api as sms

X1, X2 = smoke["ap_hi"], no_smoke["ap_hi"]

cm = sms.CompareMeans(sms.DescrStatsW(X1), sms.DescrStatsW(X2))
cm.tconfint_diff(usevar="unequal")

In [12]:
X1, X2 = smoke["cholesterol"], no_smoke["cholesterol"]

cm = sms.CompareMeans(sms.DescrStatsW(X1), sms.DescrStatsW(X2))
cm.tconfint_diff(usevar="unequal")

(0.005145485670791695, 0.04462607557460048)

In [14]:
X1, X2 = smoke["weight"], no_smoke["weight"]

cm = sms.CompareMeans(sms.DescrStatsW(X1), sms.DescrStatsW(X2))
cm.tconfint_diff(usevar="unequal")

(3.0689501010285567, 3.9367553379327007)

In [17]:
X1, X2 = (
    cardio_merged.query("gender==1")["ap_hi"],
    cardio_merged.query("gender==2")["ap_hi"],
)

cm = sms.CompareMeans(sms.DescrStatsW(X1), sms.DescrStatsW(X2))
cm.tconfint_diff(usevar="unequal")

(-4.956625183477737, 0.5820920096339779)

In [18]:
X1, X2 = (
    cardio_merged.query("gender==1")["ap_lo"],
    cardio_merged.query("gender==2")["ap_lo"],
)

cm = sms.CompareMeans(sms.DescrStatsW(X1), sms.DescrStatsW(X2))
cm.tconfint_diff(usevar="unequal")

(-7.5988112806128925, -0.8905736676738054)

In [20]:
cardio_merged.query("gender==1")["ap_lo"].mean()
cardio_merged.query("gender==2")["ap_lo"].mean()

95.26387723619042

99.50856971033377

In [31]:
covid.date = pd.to_datetime(covid.date)

In [34]:
italy, germany = (
    covid[covid["location"] == "Italy"].set_index("date").sort_index(),
    covid[covid["location"] == "Germany"].set_index("date").sort_index(),
)

In [38]:
germany

,location,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
date,,,,,,,
2019-12-31,Germany,0,0,83783945.0,21.453,45229.245,8.0
2020-01-01,Germany,0,0,83783945.0,21.453,45229.245,8.0
2020-01-02,Germany,0,0,83783945.0,21.453,45229.245,8.0
2020-01-03,Germany,0,0,83783945.0,21.453,45229.245,8.0
2020-01-04,Germany,0,0,83783945.0,21.453,45229.245,8.0
...,...,...,...,...,...,...,...
2020-06-06,Germany,407,33,83783945.0,21.453,45229.245,8.0
2020-06-07,Germany,301,22,83783945.0,21.453,45229.245,8.0
2020-06-08,Germany,214,6,83783945.0,21.453,45229.245,8.0
2020-06-09,Germany,350,37,83783945.0,21.453,45229.245,8.0
2020-06-10,Germany,318,18,83783945.0,21.453,45229.245,8.0

In [40]:
d = italy["new_cases"].cumsum() - germany["new_cases"].cumsum()
d[d > 10000]

date
2020-03-12    10895
2020-03-13    12744
2020-03-14    14598
2020-03-15    17362
2020-03-16    19142
              ...
2020-06-06    50853
2020-06-07    50822
2020-06-08    50805
2020-06-09    50735
2020-06-10    50700
Name: new_cases, Length: 91, dtype: int64

In [55]:
italy_cum, germ_cum = italy["new_cases"].cumsum(), germany["new_cases"].cumsum()

italy_cum = italy_cum[
    (italy_cum.index >= pd.to_datetime("2020-02-28"))
    & (italy_cum.index <= pd.to_datetime("2020-03-20"))
]
germ_cum = germ_cum[
    (germ_cum.index >= pd.to_datetime("2020-02-28"))
    & (germ_cum.index <= pd.to_datetime("2020-03-20"))
]

In [56]:
italy_cum

date
2020-02-28      650
2020-02-29      888
2020-03-01     1128
2020-03-02     1689
2020-03-03     2036
2020-03-04     2502
2020-03-05     3089
2020-03-06     3858
2020-03-07     4636
2020-03-08     5883
2020-03-09     7375
2020-03-10     9172
2020-03-11    10149
2020-03-12    12462
2020-03-13    15113
2020-03-14    17660
2020-03-15    21157
2020-03-16    23980
2020-03-17    27980
2020-03-18    31506
2020-03-19    35713
2020-03-20    41035
Name: new_cases, dtype: int64

In [108]:
def expon(A, B, x):
    return A * np.e ** (B * x)

In [64]:
italy

,location,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
date,,,,,,,
2019-12-31,Italy,0,0,60461828.0,23.021,35220.084,3.18
2020-01-01,Italy,0,0,60461828.0,23.021,35220.084,3.18
2020-01-02,Italy,0,0,60461828.0,23.021,35220.084,3.18
2020-01-03,Italy,0,0,60461828.0,23.021,35220.084,3.18
2020-01-04,Italy,0,0,60461828.0,23.021,35220.084,3.18
...,...,...,...,...,...,...,...
2020-06-06,Italy,518,85,60461828.0,23.021,35220.084,3.18
2020-06-07,Italy,270,72,60461828.0,23.021,35220.084,3.18
2020-06-08,Italy,197,53,60461828.0,23.021,35220.084,3.18
2020-06-09,Italy,280,65,60461828.0,23.021,35220.084,3.18
2020-06-10,Italy,283,79,60461828.0,23.021,35220.084,3.18

In [93]:
italy_cum.index = (
    italy[
        (italy.index >= pd.to_datetime("2020-02-28"))
        & (italy.index <= pd.to_datetime("2020-03-20"))
    ]
    .reset_index()["date"]
    .astype(str)
    .apply(lambda x: int(datetime.strptime(x, "%Y-%m-%d").timestamp()))
)

In [103]:
italy_cum.index = list(range(22))

In [117]:
italy_cum

0       650
1       888
2      1128
3      1689
4      2036
5      2502
6      3089
7      3858
8      4636
9      5883
10     7375
11     9172
12    10149
13    12462
14    15113
15    17660
16    21157
17    23980
18    27980
19    31506
20    35713
21    41035
Name: new_cases, dtype: int64

In [119]:
41035 - expon(1610.0, 0.155, 21)

-695.5793997384317

In [113]:
curve_fit(lambda t, a, b: a * np.exp(b * t), italy_cum.index, italy_cum.tolist())[0]

array([1.61382416e+03, 1.55878443e-01])

In [124]:
covid

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
0,Afghanistan,2019-12-31,0,0,38928341.0,2.581,1803.987,0.5
1,Afghanistan,2020-01-01,0,0,38928341.0,2.581,1803.987,0.5
2,Afghanistan,2020-01-02,0,0,38928341.0,2.581,1803.987,0.5
3,Afghanistan,2020-01-03,0,0,38928341.0,2.581,1803.987,0.5
4,Afghanistan,2020-01-04,0,0,38928341.0,2.581,1803.987,0.5
...,...,...,...,...,...,...,...,...
23077,International,2020-02-28,0,0,NaN,NaN,NaN,NaN
23078,International,2020-02-29,0,2,NaN,NaN,NaN,NaN
23079,International,2020-03-01,0,0,NaN,NaN,NaN,NaN
23080,International,2020-03-02,0,0,NaN,NaN,NaN,NaN
23081,International,2020-03-10,-9,1,NaN,NaN,NaN,NaN

In [140]:
c = covid.groupby("location").sum()[["new_deaths"]]

In [144]:
c = c.reset_index().sort_values("new_deaths")

In [162]:
covid[covid["location"] == c.iloc[0]["location"]]["population"].unique()[0]

26221.0

In [171]:
vals = {}
for i in range(len(c)):
    location = c.iloc[i]["location"]
    pop = covid[covid["location"] == location]["population"].unique()[0] / 1000000
    vals[location] = c.iloc[i]["new_deaths"] / pop

In [173]:
dict(sorted(vals.items(), key=lambda item: item[1]))

{'Bonaire Sint Eustatius and Saba': 0.0,
 'Timor': 0.0,
 'French Polynesia': 0.0,
 'Namibia': 0.0,
 'Fiji': 0.0,
 'Cambodia': 0.0,
 'Falkland Islands': 0.0,
 'Bhutan': 0.0,
 'Faeroe Islands': 0.0,
 'Eritrea': 0.0,
 'Papua New Guinea': 0.0,
 'Dominica': 0.0,
 'Saint Kitts and Nevis': 0.0,
 'Saint Lucia': 0.0,
 'Seychelles': 0.0,
 'New Caledonia': 0.0,
 'Gibraltar': 0.0,
 'Saint Vincent and the Grenadines': 0.0,
 'Vietnam': 0.0,
 'Anguilla': 0.0,
 'Grenada': 0.0,
 'Lesotho': 0.0,
 'Mongolia': 0.0,
 'Greenland': 0.0,
 'Uganda': 0.0,
 'Vatican': 0.0,
 'Laos': 0.0,
 'Hong Kong': 0.0,
 'Mozambique': 0.06398887105554603,
 'Burundi': 0.08409876525351867,
 'Myanmar': 0.11027426422529739,
 'Angola': 0.1217053302188128,
 'Rwanda': 0.15441381466281157,
 'Malawi': 0.20909615312738583,
 'Zimbabwe': 0.26912599382342384,
 'Ethiopia': 0.2783490142265312,
 'Taiwan': 0.2939104895604044,
 'Madagascar': 0.325015124939967,
 'Benin': 0.3299459433063784,
 'Syria': 0.34284427150363556,
 'Tanzania': 0.35155732276911394,
 'Gambia': 0.4137935600480663,
 'Botswana': 0.42523786743209485,
 'Sri Lanka': 0.5137006292832709,
 'Nepal': 0.5148127413270527,
 'Uzbekistan': 0.53780791108864,
 'Zambia': 0.5439525638551354,
 'Libya': 0.7276657196824992,
 'Venezuela': 0.8088354938677433,
 'Thailand': 0.8309458206419492,
 'Jordan': 0.882081398471451,
 'Palestine': 0.9801200294192828,
 'Democratic Republic of Congo': 0.9937316302008844,
 'Central African Republic': 1.0352472708811444,
 "Cote d'Ivoire": 1.4405794162051917,
 'Paraguay': 1.542229755780908,
 'Ghana': 1.5447521951974619,
 'Togo': 1.5702878349680633,
 'Kenya': 1.6365607675470002,
 'Western Sahara': 1.6741164850250279,
 'South Sudan': 1.6973789520900497,
 'Guinea': 1.7513412227955791,
 'Nigeria': 1.7706448592040693,
 'Costa Rica': 2.1593548946882617,
 'Comoros': 2.2999212276979515,
 'Burkina Faso': 2.535487496267332,
 'Swaziland': 2.5858413120903596,
 'Niger': 2.685214087574994,
 'Senegal': 3.105603045402125,
 'China': 3.2223465517495162,
 'Kazakhstan': 3.2487059631915227,
 'Georgia': 3.258819179404263,
 'Jamaica': 3.37705379748011,
 'Suriname': 3.4092807440414297,
 'Malaysia': 3.6149047528211553,
 'Kyrgyzstan': 3.985168429311772,
 'Australia': 4.000018666753778,
 'Tunisia': 4.146000826831021,
 'Yemen': 4.2580344751928925,
 'Singapore': 4.273253722046725,
 'Chad': 4.322452786183055,
 'Congo': 4.349329442133259,
 'Lebanon': 4.395319746325586,
 'New Zealand': 4.5622017849407115,
 'Brunei': 4.571606210984198,
 'Mali': 4.641784135902748,
 'Haiti': 4.911189469918657,
 'Belize': 5.02991542197218,
 'Tajikistan': 5.032690470034417,
 'Slovakia': 5.1285404558503185,
 'Somalia': 5.34819283620266,
 'South Korea': 5.383350852304395,
 'India': 5.612301007289916,
 'Morocco': 5.68942902461675,
 'Trinidad and Tobago': 5.716364020919034,
 'Bangladesh': 5.920235914661238,
 'Curacao': 6.0938452163315056,
 'Guinea-Bissau': 6.0975671723243625,
 'Liberia': 6.129296117565436,
 'Sierra Leone': 6.268032345554116,
 'Uruguay': 6.621130560922031,
 'Nicaragua': 6.943863692559529,
 'Indonesia': 7.030471419504936,
 'Japan': 7.266174389545286,
 'Cuba': 7.327872685010245,
 'Cameroon': 7.835495578520254,
 'Mauritius': 7.863075547643554,
 'Sudan': 8.483607788307713,
 'Equatorial Guinea': 8.553191944318721,
 'Cape Verde': 8.992999848917602,
 'El Salvador': 9.250407133543964,
 'Philippines': 9.280798780190942,
 'Gabon': 9.435115162319924,
 'Azerbaijan': 9.66548067273718,
 'Iraq': 9.745788321527378,
 'Afghanistan': 9.86427857277555,
 'Pakistan': 10.208593434599592,
 'Albania': 11.814580582389324,
 'Egypt': 12.762081584626042,
 'Mauritania': 13.119238826064702,
 'Latvia': 13.784313663117736,
 'Montenegro': 14.329795466052714,
 'Maldives': 14.799960040107893,
 'Cayman Islands': 15.216068167985393,
 'Guyana': 15.256325336052349,
 'Argentina': 15.86431404863335,
 'Kosovo': 16.039123042838945,
 'Guatemala': 16.131222640064923,
 'Oman': 16.253405871826818,
 'Algeria': 16.51043967186824,
 'Bahrain': 17.04295353209335,
 'Greece': 17.55723081599101,
 'Ukraine': 18.521161192661257,
 'South Africa': 19.592407116056687,
 'Malta': 20.3832504037016,
 'Cyprus': 20.550314591065867,
 'Qatar': 21.51985727475304,
 'Saudi Arabia': 22.491037838456727,
 'Bulgaria': 24.034154404330753,
 'Barbados': 24.358755754756046,
 'Croatia': 25.820482365584905,
 'Turks and Caicos Islands': 25.827780360555813,
 'Liechtenstein': 26.221254949261873,
 'Lithuania': 26.448311367153625,
 'Colombia': 26.96388042784682,
 'Honduras': 27.36100207095526,
 'Bahamas': 27.972170233542194,
 'Aruba': 28.09883296180432,
 'United Arab Emirates': 28.613605112027827,
 'Guam': 29.62383652382053,
 'Belarus': 29.843414145841802,
 'Czech Republic': 30.62849484666236,
 'Antigua and Barbuda': 30.63475206273997,
 'Poland': 31.257757465960292,
 'British Virgin Islands': 33.07206402751596,
 'Djibouti': 34.412885803874886,
 'Israel': 34.54434563940024,
 'Northern Mariana Islands': 34.74816269089772,
 'Serbia': 36.739874049833375,
 'Bolivia': 41.72010538138816,
 'Russia': 42.08053396024489,
 'Norway': 44.08583863254951,
 'Bosnia and Herzegovina': 48.46356774155202,
 'Puerto Rico': 49.63577131192237,
 'Dominican Republic': 50.14793641241663,
 'Slovenia': 51.94975112221083,
 'Estonia': 52.01505572018614,
 'World': 52.752484611331646,
 'Turkey': 56.071286631615216,
 'Hungary': 56.93375498817331,
 'United States Virgin Islands': 57.458605862693084,
 'Finland': 58.47617583136337,
 'Kuwait': 63.925997579241894,
 'Romania': 69.91486812184544,
 'Armenia': 73.2308012124591,
 'Austria': 74.61360810090603,
 'Macedonia': 75.35831197381178,
 'Moldova': 90.48174214785807,
 'Panama': 93.40015500254012,
 'Iran': 100.3060340074006,
 'Denmark': 102.37900847052495,
 'Germany': 104.18463823826868,
 'Mexico': 113.61736765211242,
 'Chile': 119.42744505461307,
 'Monaco': 127.40801141575781,
 'International': nan,
 'Iceland': 29.304029304029303,
 'Sao Tome and Principe': 54.754267410716324,
 'Bermuda': 144.52491448942558,
 'Portugal': 146.32174877634515,
 'Peru': 174.02725949890703,
 'Luxembourg': 175.72558692346033,
 'Brazil': 180.68360361314328,
 'Switzerland': 192.0362054107992,
 'Guernsey': 193.87937719978524,
 'Montserrat': 200.0400080016003,
 'Ecuador': 209.14739279920832,
 'Canada': 209.23552408517617,
 'Isle of Man': 282.2466836014677,
 'Jersey': 296.81517319165357,
 'United States': 338.38400089894145,
 'Ireland': 342.460482369057,
 'Sint Maarten (Dutch part)': 349.79711767175036,
 'Netherlands': 351.97226148101595,
 'France': 448.8191167038783,
 'Sweden': 467.0634610224303,
 'Italy': 563.0494665162952,
 'Spain': 580.3898180855635,
 'United Kingdom': 602.2301739840218,
 'Andorra': 660.0660066006601,
 'Belgium': 829.967101584729,
 'San Marino': 1237.5508279804349}

In [174]:
eld = covid[covid["aged_65_older_percent"] >= 20]
eld

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
3293,Bulgaria,2020-03-08,2,0,6948445.0,20.801,18563.307,7.454
3294,Bulgaria,2020-03-09,2,0,6948445.0,20.801,18563.307,7.454
3295,Bulgaria,2020-03-12,3,1,6948445.0,20.801,18563.307,7.454
3296,Bulgaria,2020-03-13,16,0,6948445.0,20.801,18563.307,7.454
3297,Bulgaria,2020-03-14,8,0,6948445.0,20.801,18563.307,7.454
...,...,...,...,...,...,...,...,...
16933,Portugal,2020-06-06,377,10,10196707.0,21.502,27936.896,3.390
16934,Portugal,2020-06-07,382,9,10196707.0,21.502,27936.896,3.390
16935,Portugal,2020-06-08,142,5,10196707.0,21.502,27936.896,3.390
16936,Portugal,2020-06-09,392,6,10196707.0,21.502,27936.896,3.390
16937,Portugal,2020-06-10,421,7,10196707.0,21.502,27936.896,3.390

In [175]:
c = eld.groupby("location").sum()[["new_deaths"]]
c = c.reset_index().sort_values("new_deaths")
vals_eld = {}
for i in range(len(c)):
    location = c.iloc[i]["location"]
    pop = covid[covid["location"] == location]["population"].unique()[0] / 1000000
    vals_eld[location] = c.iloc[i]["new_deaths"] / pop

In [177]:
eld.location.unique()

array(['Bulgaria', 'Finland', 'Germany', 'Greece', 'Italy', 'Japan',
       'Portugal'], dtype=object)

In [176]:
vals_eld

{'Bulgaria': 24.034154404330753,
 'Greece': 17.55723081599101,
 'Finland': 58.47617583136337,
 'Japan': 7.266174389545286,
 'Portugal': 146.32174877634515,
 'Germany': 104.18463823826868,
 'Italy': 563.0494665162952}

$$p(gdp|nbeds) = \frac{p(nbeds|gdp)*p(gdp)}{p(nbeds)}$$

In [182]:
p_gdp_over10000 = len(
    covid[covid["gdp_per_capita"] >= 10000]["location"].unique()
) / len(covid["location"].unique())
p_nbeds_more5 = len(
    covid[covid["hospital_beds_per_thousand"] > 5]["location"].unique()
) / len(covid["location"].unique())

In [198]:
p_nbeds_more5 = len(covid[covid["hospital_beds_per_thousand"] > 5]["location"])/len(covid['location'])

In [201]:
np.sqrt(1000000)

1000.0

In [199]:
p_intersect = (len(
    covid.query("gdp_per_capita>10000 and hospital_beds_per_thousand>=5")[
        "location"
    ]
) / len(covid["location"]))/p_nbeds_more5

In [1]:
import tensorflow as tf

In [4]:
from keras import models
from keras import layers

model = models.Sequential()
model.add(layers.Dense(100, activation="relu", input_shape=(10,)))
model.add(layers.Dense(100, activation="relu"))
model.add(layers.Dense(10, activation="softmax"))
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 100)               1100

 dense_6 (Dense)             (None, 100)               10100

 dense_7 (Dense)             (None, 10)                1010

=================================================================
Total params: 12,210
Trainable params: 12,210
Non-trainable params: 0
_________________________________________________________________

In [5]:
p_qual = 0.01
p_passed_qualif = 0.9
p_passed = 0.01*0.9+0.99*0.1
p_qual_passed = p_passed_qualif*p_qual/p_passed

In [196]:
covid.query("gdp_per_capita>10000 and hospital_beds_per_thousand>=5")[
        "location"
    ].unique()

array(['Argentina', 'Austria', 'Barbados', 'Belarus', 'Belgium',
       'Bulgaria', 'Croatia', 'Czech Republic', 'France', 'Gabon',
       'Germany', 'Hungary', 'Japan', 'Kazakhstan', 'Latvia', 'Lithuania',
       'Mongolia', 'Poland', 'Romania', 'Russia', 'Serbia', 'Slovakia',
       'South Korea'], dtype=object)

In [193]:
p = (p_intersect*p_gdp_over10000)/p_nbeds_more5

In [194]:
p

3.0803571428571432

In [6]:
ops = input().split()

In [7]:
def calculate_score(ops):
    numbers = []
    for el in ops:
        try:
            numbers.append(int(el))
        except:
            if el == 'C':
                numbers.pop(-1)
            elif el == 'D':
                numbers.append(2*numbers[-1])
            elif el == '+':
                numbers.append(numbers[-1]+numbers[-2]) 
    return sum(numbers)

In [8]:
calculate_score(ops)

30